<html>
<head>
    <link rel="stylesheet" href="~/content/site.css" />
</head>
<body>
    @{
        ViewBag.Title = "Home";
    }

    <!-- ========== 1. Banner + Slider ========== -->
    <section class="banner hero">
        <!-- 3 Images -->
        <div class="slides">
            <img class="slide" src="https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?w=1920" alt="Team Training 3" />
            <img class="slide active" src="https://images.unsplash.com/photo-1574680096145-d05b474e2155?w=1920" alt="Campus Gym 1" />
            <img class="slide" src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?w=1920" alt="Happy Workout 2" />
        </div>

        <div class="overlay"></div>

        <div class="slogan-center">
            <h2>
                <span class="line1">Find Joy in Every Move</span>
                <span class="line2">Discover Happiness Through Growth</span>
            </h2>
            <a href="@Url.Action("Index","Equipment")" class="btn-reserve">Learn Now</a>
        </div>
    </section>

    <!-- ========== 2. Live Occupancy ========== -->
    <section class="occupancy glass reveal">
        <h3>Current Gym Occupancy</h3>
        <div class="bar">
            <div class="fill" style="width:@(ViewBag.Current*100/ViewBag.Max)%"></div>
        </div>
        <p>
            @ViewBag.Current / @ViewBag.Max &nbsp;
            <span class="@(ViewBag.Current>60?"high":"low")">
                @(ViewBag.Current>60?"Peak Hours":"Available")
            </span>
        </p>
    </section>

    <!-- ========== 3. Today's Popular Classes ========== -->
    <section class="popular reveal">
        <h3>Today's Popular Classes</h3>

        <div class="cards">
            <div class="card reveal zoom">
                <img src="https://plus.unsplash.com/premium_photo-1672784161031-f18a87c03c33?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Dumbbell Full Body Circuit" />
                <h4>Dumbbell Full Body Circuit</h4>
                <p>30 min · Beginner</p>
            </div>

            <div class="card reveal zoom">
                <img src="https://images.unsplash.com/photo-1518611012118-696072aa579a" alt="Core Yoga & Stretch" />
                <h4>Core Yoga & Stretch</h4>
                <p>45 min · Beginner</p>
            </div>

            <div class="card reveal zoom">
                <img src="https://images.unsplash.com/photo-1470468969717-61d5d54fd036?q=80&w=744&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="HIIT Fat Burn" />
                <h4>HIIT Fat Burn</h4>
                <p>20 min · Intermediate</p>
            </div>
        </div>
    </section>

    <!-- ========== CSS ========== -->
    <!-- ===== JS：Parallax + Reveal ===== -->


    <script src="~/Scripts/home-feature.js"></script>

</body>
</html>